# Stage 1(Form)

Никитин Н.В. Ки19-20Б 20.02.2021

In [ ]:
#@title Form 1
#@markdown ---------
name = " Nikitin Nikita" #@param{type: "string"}
group = "KI19-20B" #@param["KI19-20B", "KI19-21B", "KI19-22B"]
data = "2021-02-20" #@param{type:"date"}
#@markdown --------
checked = True #@param {type:"boolean"}
age = 20 #@param {type:"integer"}
year_study = 2 #@param{type:"slider", min: "1", max: "6"}
average_grade = 5 #@param{type:"slider", min: "2", max: "5"}
if name == "":
   print('Print name');
else:
   print('FIO', name);
   print('Group', group);
   print('Date', data)
if checked:
     print('Age', age);
     print('year_study', year_study);
     print('average_grade', average_grade)

FIO  Nikitin Nikita
Group KI19-20B
Date 2021-02-20
Age 20
year_study 2
average_grade 5

# Stage 2

In [ ]:
import pandas as pd

In [ ]:
data1 = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
print(data1)

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
data2 = pd.read_csv("/content/sample_data/mnist_train_small.csv")

In [ ]:
print(data2)

       6  0  0.1  0.2  0.3  0.4  ...  0.585  0.586  0.587  0.588  0.589  0.590
0      5  0    0    0    0    0  ...      0      0      0      0      0      0
1      7  0    0    0    0    0  ...      0      0      0      0      0      0
2      9  0    0    0    0    0  ...      0      0      0      0      0      0
3      5  0    0    0    0    0  ...      0      0      0      0      0      0
4      2  0    0    0    0    0  ...      0      0      0      0      0      0
...   .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
19994  0  0    0    0    0    0  ...      0      0      0      0      0      0
19995  1  0    0    0    0    0  ...      0      0      0      0      0      0
19996  2  0    0    0    0    0  ...      0      0      0      0      0      0
19997  9  0    0    0    0    0  ...      0      0      0      0      0      0
19998  5  0    0    0    0    0  ...      0      0      0      0      0      0

[19999 rows x 785 columns]

In [1]:
print('Привет, мир!')

Привет, мир!